.checkout {
  display: flex;
  width: 100%;
  min-height: 100vh;
  h1{
    font-family: 'Open Sans', sans-serif;
    text-align: start;
    align-self: flex-start;
    text-transform: none;
    font-size: 25px;
    letter-spacing: 0.5px;
  }
  &__leftColumn  {
    flex-basis: 54.6%;
    background-color: #ffffff;
    border-right: 1px solid #f0f0f0;
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
    padding-top: 60px;
    padding-left: 5%;
    .contactInfoForm__wrapper {
      &:nth-of-type(2) {
        margin-top: 20px;
        & .customInput {
          margin-bottom: 12px;
        }
        & .contactInfoForm__row {
          &:first-of-type {
            margin-top: 24px;
          }
        }
      }
    }
    .shippingMethodForm {
      &__actions {
        margin-top: 25px;
      }
      .contactInfoForm__wrapper {
        &:nth-of-type(2) {
          margin-top: 44px;
        }
        h2 {
          margin-bottom: 23px;
        }
      }
    }
  }
  &__rightColumn {
    flex-basis: 45.4%;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
    padding: 67px 0 0 3.5%;
  }
}

main {
  width: 100%;
}

footer {
  display: inline-flex;
  width: 100%;
  font-family: Arial, sans-serif;
  padding: 20px 0 50px;
  border-top: 1px solid #f0f0f0;
  span {
    font-size: 12px;
    color: #737373;
  }
}

.shippingMethod {
  footer {

  }
}

@media screen and (max-width: 1280px) {
  .checkout {
    &__leftColumn  {
      flex-basis: 60%;
    }
    &__rightColumn {
      flex-basis: 40%;
      padding-right: 8%;
    }
  }
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
  .checkout {
    &__leftColumn  {
      width: 60%;
    }
    &__rightColumn {
      width: 40%;
    }
  }
}

@media screen and (max-width: 1024px) {
  .checkout {
    &__leftColumn  {
      flex-basis: 60%;
      padding-left: 6%;
      .contactInfoForm__wrapper {
        &:nth-of-type(2) {
          & .contactInfoForm__row {
            &:first-of-type {
              margin-top: 15px;
            }
          }
        }
      }
      .shippingMethodForm {
        &__actions {
          margin-top: 25px;
        }
        .contactInfoForm__wrapper {
          &:nth-of-type(2) {
            margin-top: 44px;
          }
          h2 {
            margin-bottom: 23px;
          }
        }
      }
    }
    &__rightColumn {
      flex-basis: 40%;
      padding: 67px 3% 0 2%;
    }
  }
  footer {
    padding: 15px 0 35px;
  }
}


@media screen and (min-width: 320px) and (max-width: 480px){
  .checkout {
    flex-direction: column;
    &__leftColumn  {
      padding-top: 20px;
      padding-left: 5%;
    }
    &__rightColumn {
      padding: 25px 10% 0 10%;
      border-top: 1px solid #f0f0f0;
      margin-bottom: 85px;
    }
    footer {
      bottom: 0;
      left: 0;
      position: absolute;
      padding: 15px 10% 25px;
      box-sizing: border-box;
      span {
        font-size: 11px;
      }
    }
  }
}

@media screen and (min-width: 481px) and (max-width: 540px) {
  .checkout {
    &__leftColumn  {
      width: 60%;
    }
    &__rightColumn {
      width: 40%;
    }
    .contactInfoForm__wrapper {
      & .contactInfoForm__row {
        &:first-of-type {
          display: flex;
          flex-direction: column;
          label {
            width: 100%;
          }
        }
        label[for="ShippingAddress"] {
          width: 100%;
          .customCheckbox__input {
            margin-right: 5px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  .checkout {
    &__leftColumn  {
      padding-left: 4%;
    }
  }
}