.checkout__nav {
  margin-top: 23px;
  ul {
    display: flex;
    flex-wrap: wrap;
    line-height: 20px;
  }
  &Item {
    a,
    a:visited{
      font-family: Arial, sans-serif;
      display: flex;
      font-size: 12px;
      color: #333333;
    }
    a {
      white-space: nowrap;
      &::after {
        content: ">";
        display: flex;
        box-sizing: border-box;
        justify-content: center;
        width: 30px;
      }
    }
    &:last-of-type {
      a {
        &::after {
          content: "";
        }
      }
    }
  }

}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 920px) {

}

@media screen and (max-width: 780px) {
  .checkout__nav {
    &Item {
      a {

        &::after {

        }
      }
    }

  }
}

@media screen and (min-width: 320px) and (max-width: 480px){
  .checkout__nav {
    margin-top: 23px;
    ul {
      display: flex;
      flex-wrap: wrap;
      line-height: 20px;
    }
    &Item {
      a {
        white-space: nowrap;
        letter-spacing: 0.25px;
      }
    }

  }
}