@import "_flagsSelect";

.contactInfoForm {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
  width: 100%;
  margin-bottom: 105px;
  &__row {
    display: flex;
    justify-content: space-between;
    & label {
      width: 49%;
      display: flex;
    }
  }
  &__phoneOrMailInput {
    position: relative;
    .customSelect {
      z-index: 777;
      position: absolute;
      right: 0;
      top: 0;
      width: 67px;
    }
  }
  .customCheckbox {
    margin-top: 12px;
  }
  legend {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    position: relative;
    width: 100%;
    margin-bottom: 23px;
  }
  &__login {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 14px;
    letter-spacing: -0.2px;
  }
  &__loginLink {
    margin-left: 5px;
  }
}

@media screen and (max-width: 1024px) {
  .contactInfoForm {
    margin-top: 30px;
    margin-bottom: 70px;
    &__row {
      & label {
        width: 48%;
      }
    }
    legend {
      margin-bottom: 15px;
    }
    &__login {
      font-size: 13px;
    }
  }

}

@media screen and (max-width: 780px) {
  .contactInfoForm {
    &__login {
      font-size: 12px;
      letter-spacing: 0;
      font-family: Arial, sans-serif;
    }
  }

}

@media screen and (min-width: 320px) and (max-width: 480px){
  .contactInfoForm {
    &__login {
      position: relative;
    }
    legend {
      margin-bottom: 10px;
    }
    h2 {
      margin-bottom: 10px;
    }
    .customCheckbox {
      margin-top: 5px;
    }
    &__row {
      & label[for="ShippingAddress"] {
        width: 100%;
      }
    }
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 481px) and (max-width: 540px) {
  .contactInfoForm {
    margin-bottom: 105px;
    &__login {
      position: relative;
    }
  }
}

@media screen and (min-width: 541px) and (max-width: 767px) {
  .contactInfoForm {
      &__row {
        & label[for="ShippingAddress"] {
          width: 75%;
          margin-top: 0;
        }
      }
    &__wrapper {
      position: relative;
    }
    &__login {
      position: relative;
    }
  }
}