.creditCardInfo {
  &__wraper {
    box-sizing: border-box;
    padding: 15px 15px 22px;
    width: 100%;
    background-color: #fafafa;
    border: 1px solid #d9d9d9;
    border-radius: 0 0 5px 5px;
    border-top: 0;
    label[for="cardNumber"] {
      display: flex;
      align-items: center;
      &:before {
        content: "";
        display: flex;
        width: 17px;
        height: 17px;
        background: url('../assets/image/icons/cardNumber.png') no-repeat center;
        background-size: contain;
        position: absolute;
        z-index: 555;
        right: 13px;
      }
    }
    .customInput {
      &__input {
        font-family: Arial, sans-serif;
      }
      &__placeholder {
        font-family: Arial, sans-serif;
      }
    }
  }
  &__head {
    width: 100%;
    height: 53px;
    font-family: Arial, sans-serif;
    color: #333333;
    font-size: 14px;
    letter-spacing: -0.25px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 0 17px;
    border: 1px solid #d9d9d9;
    border-radius: 5px 5px 0 0;
    position: relative;
    &:before {
      content: "";
      display: flex;
      width: 40px;
      height: 40px;
      background: url('../assets/image/icons/cardIcons.png') no-repeat center;
      background-size: contain;
      position: absolute;
      z-index: 555;
      right: 13px;
    }
  }
  &__row {
    display: flex;
    width: 100%;
    margin-top: 12px;
    label[for="cardHolder"] {
      flex-basis: 49%;
    }
    label[for="cardDate"] {
      flex-basis: 23.5%;
      margin: 0 10px;
    }
    label[for="cardCVV"] {
      flex-basis: 23.5%;
      display: flex;
      align-items: center;
      &:before {
        content: "";
        display: flex;
        width: 17px;
        height: 17px;
        background: url('../assets/image/icons/cardCVV.png') no-repeat center;
        background-size: contain;
        position: absolute;
        z-index: 555;
        right: 13px;
      }
    }

  }
}

@media screen and (min-width: 320px) and (max-width: 540px){
  .creditCardInfo {
    &__wraper {
      padding: 15px 12px 20px;
      label[for="cardNumber"] {
        &:before {
          width: 13px;
          height: 13px;
        }
      }
      label[for="cardCVV"] {
        &:before {
          width: 13px;
          height: 13px;
        }
      }
    }
    &__head {
      height: 40px;
      font-size: 12px;
      letter-spacing: 0;
      &:before {
        width: 30px;
        height: 30px;
      }
    }
    &__row {
      display: flex;
      width: 100%;
      margin-top: 12px;
    }
  }
}

@media screen and (min-width: 481px) and (max-width: 540px) {
  .creditCardInfo {
    &__row {
      display: flex;
      flex-direction: column;
      label[for="cardDate"] {
        margin: 10px 0;
      }
    }
  }
}

@media screen and (min-width: 541px) and (max-width: 767px){
  .creditCardInfo {
    &__row {
      display: flex;
      flex-direction: column;
    }
    &__wraper {
      padding: 15px 12px 20px;
      label[for="cardNumber"] {
        &:before {
          width: 15px;
          height: 15px;
        }
      }
      label[for="cardDate"] {
        margin: 10px 0;
      }
      label[for="cardCVV"] {
        &:before {
          width: 15px;
          height: 15px;
        }
      }
      label {
        height: 40px;
      }
    }
    &__head {
      font-size: 13px;
      height: 40px;
      &:before {
        width: 30px;
        height: 30px;
      }
    }
  }
}