.customSelect {
  display: inline-flex;
  height: 45px;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  &--hidden {
    display: none;
  }
  &__optionItem {
    padding: 5px 19px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 45px;
    background-color: #ffffff;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
  }
  &__currentOption {
    position: relative;
    &::after {
      content: "";
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      right: 0;
      top: 0;
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid #555555;
      margin: 20px;
    }
  }
  &__options {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 45px;
    left: 0;
    z-index: 777;
    width: 100%;
    &--visible {
      display: flex;
    }
    li {
      border-radius: 0;
      border-top: none;
    }
  }
  &__placeholder {
    position: absolute;
    z-index: 777;
    top: 9px;
    left: 10px;
    font-family: Arial, sans-serif;
    color: #737373;
    font-size: 12px;
    letter-spacing: -0.5px;
  }
  &__selectValue {
    position: absolute;
    z-index: 777;
    bottom: 7px;
    left: 10px;
    font-size: 14px;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
  }
}

@media screen and (max-width: 1024px) {
  .customSelect {
    height: 40px;
    &__optionItem {
      height: 40px;
    }
    &__options {
      top: 40px;
    }
    &__placeholder {
      top: 5px;
      font-size: 10px;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 480px){
  .customSelect {
    height: 40px;
    &__optionItem {
      padding: 3px 10px;
      height: 40px;
      font-size: 12px;
    }
    &__currentOption {
      &::after {
        margin: 16.5px;
      }
    }
  }
}