.customerInfo {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 32px;
  &__row {
    display: flex;
    box-sizing: border-box;
    padding: 13.5px 16px;
    width: 100%;
    border-bottom: 1px solid #d9d9d9;
    position: relative;
    &:last-of-type {
      border-bottom: 0;
    }
    .customLink {
      position: absolute;
      right: 16px;
      font-size: 12px;
      &::before {
        content: "";
      }
    }
  }
  &__name {
    color: #737373;
    margin-right: 35px;
  }
  &__value {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #333333;

  }
}

@media screen and (min-width: 320px) and (max-width: 540px){
  .customerInfo {
    margin-top: 30px;
    &__row {
      padding: 3px 10px;
      height: 40px;
      display: flex;
      align-items: center;
      .customLink {
        font-size: 12px;
      }
    }
    &__name {
      font-size: 12px;
    }
    &__value {
      font-size: 12px;
    }
  }
}

@media screen and (min-width: 481px) and (max-width: 540px) {
  .customerInfo {
    &__row {
      h3 {
        margin-right: 20px;
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .customerInfo {
    &__row {
      padding: 10px;
      height: 40px;
      align-items: center;
    }
    &__name {
      font-size: 12px;
      margin-right: 20px;
    }
    &__value {
      font-size: 13px;
    }
  }
}