.contactInfoForm {
  &__phoneOrMailInput {
    .customSelect {
      &__optionItem {
        padding: 5px 10px;
        font-size: 10px;
      }
      &__currentOption {
        border-left: none;

        &::after {
          margin: 20px 9px;
        }
      }
      .optionItemUA,
      .optionItemRU,
      .optionItemUS {
        &::before {
          content: "";
          height: 10px;
          width: 15px;
          margin-right: 3px;
          &:hover {
            cursor: pointer;
          }
        }
      }
      .optionItemUA {
        &::before {
          background: url("../assets/image/ua.png") no-repeat center;
        }
      }
      .optionItemUS {
        &::before {
          background: url("../assets/image/us.png") no-repeat center;
        }
      }
      .optionItemRU {
        &::before {
          background: url("../assets/image/ru.png") no-repeat center;
        }
      }
      &__currentOption {
        &.customSelect__optionItem {
          justify-content: space-between;
        }
        &.optionItemUA,
        &.optionItemRU,
        &.optionItemUS {
          &::before {
            content: "";
            height: 20px;
            width: 25px;
            &:hover {
              cursor: pointer;
            }
          }
        }
        &:hover {
          background-color: #f0f0f0;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .contactInfoForm {
    &__phoneOrMailInput {
      .customSelect {
        &__currentOption {
          &::after {
            margin: 17px 9px;
          }
        }
        .optionItemUA,
        .optionItemRU,
        .optionItemUS {
          &::before {
            content: "";
            height: 20px;
            width: 25px;
            margin-right: 3px;
          }
        }
      }
    }
  }
}