.contactInfoForm,
.shippingMethodForm {
  &__actions {
    font-family: Arial, sans-serif;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
}
.customLink {
  font-size: 14px;
  color: #1990c6;
  &::before {
    content: "<";
    color: #1990c6;
    margin-right: 5px;
  }
}
.customButton--submit {
  width: 230px;
  height: 55px;
  box-sizing: border-box;
  padding: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: 15px;
  background-color: #1990c6;
  color: #ffffff;
  border: transparent;
  font-family: Arial, sans-serif;
}

@media screen and (max-width: 1024px) {
  .customButton--submit {
    width: 220px;
    height: 50px;
  }
}

@media screen and (min-width: 320px) and (max-width: 747px){
  .customLink {
    font-size: 13px;
  }
  .customButton--submit {
    width: 180px;
    height: 45px;
    font-size: 13px;
  }
}

