.productsList {
  width: 420px;
  &__count {
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    color: #535353;
    font-size: 14px;
    padding: 23px 0;
    width: 420px;
  }
  &__countRow {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: space-between;
    color: #535353;
    font-size: 14px;
    &:first-of-type {
      margin-bottom: 15px;
    }
  }
  &__totalCount {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    box-sizing: border-box;
    padding: 25px 0;
    width: 420px;
  }
}

#checkoutTotalPrice {
  font-size: 25px;
  display: flex;
  align-items: center;
  color: #333333;
  &::before {
    content: "USD";
    color: #535353;
    font-size: 12px;
    font-family: Arial, sans-serif;
    margin-right: 10px;
  }
}

.productCard {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  position: relative;
  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 15.5%;
    min-width: 15.5%;
    margin-right: 3.3%;
    img {
      width: 100%;
      height: auto;
      border: 1px solid #f0f0f0;
      border-radius: 10px;
    }
  }
  &__quantity {
    position: absolute;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: #808080;
    color: #ffffff;
    left: 13%;
    top: -5px;
    font-size: 12px;
    font-family: Arial, sans-serif;
  }
  &__info {
    flex-grow: 1;
    padding-right: 8%;
    color: #535353;
  }
  &__optionHead {
    display: none;
  }
  &__optionsValue {
    font-size: 12px;
  }
  &__description {
    font-size: 14px;
  }
  &__totalPrice {
    font-size: 14px;
    color: #535353;
  }
}

@media screen and (max-width: 1280px) {
  .productsList {
    width: 100%;
    &__count {
      width: 100%;
    }
    &__totalCount {
      width: 100%;
    }
  }
  .productCard {
    &__info {
      padding-right: 5%;
    }
    &__description {
      font-size: 13px;
    }
    &__image {
      margin-right: 6%;
    }
  }
}

@media screen and (max-width: 1024px) {
  .productsList {
    &__count {
      padding: 10px 0;
    }
    &__countRow {
      font-size: 13px;
      &:first-of-type {
        margin-bottom: 10px;
      }
    }
    &__totalCount {
      font-size: 16px;
      padding: 15px 0;
    }
  }

  .productCard {
    &__info {
      padding-right: 5%;
    }
    &__description {
      font-size: 11px;
    }
    &__image {
      flex-basis: 14%;
      min-width: 14%;
      margin-right: 8%;
    }
    &__quantity {
      width: 17px;
      height: 17px;
      border-radius: 17px;
      left: 12%;
      top: -5px;
      font-size: 10px;
    }
    &__totalPrice {
      font-size: 13px;
    }
  }
  #checkoutTotalPrice {
    font-size: 21px;
    &::before {
      font-size: 10px;
    }
  }
}

@media screen and (max-width: 850px) {
  .productsList {
    &__count {
      padding: 10px 0;
    }
    &__countRow {
      font-size: 12px;
      &:first-of-type {
        margin-bottom: 7px;
      }
    }
    &__totalCount {
      font-size: 15px;
      padding: 15px 0;
    }
  }

  .productCard {
    &__info {
      padding-right: 5%;
    }
    &__description {
      font-size: 10px;
    }
    &__quantity {
      width: 17px;
      height: 17px;
      border-radius: 17px;
      left: 12%;
      top: -5px;
      font-size: 10px;
    }
    &__totalPrice {
      font-size: 12px;
    }
  }
  #checkoutTotalPrice {
    font-size: 18px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px){
  .productsList {
    &__count {
      font-size: 13px;
    }
    &__totalCount {
      font-size: 15px;
      padding: 12px 0;
    }
  }
}

@media screen and (min-width: 481px) and (max-width: 540px) {
  .productCard {
    &__description {
      font-size: 9px;
    }
    &__image {
      margin-right: 5%;
    }
    &__quantity {
      left: 9%;
    }
  }
}