@import url('https://fonts.googleapis.com/css?family=Open+Sans');
.cart {
  display: flex;
  flex-direction: column;
  .productsList {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 1169px) {
  .cart {
    .productsList {
      overflow: hidden;
    }
  }
}