.productCard {
  &__info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 15px;
    letter-spacing: 0.1px;
  }
  &__options {
    margin: 15px 0 20px;
  }
  &__optionsItem {
    margin-bottom: 5px;
    font-size: 15px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  &__optionHead {
    margin-right: 5px;
    letter-spacing: 0.5px;
  }
  &__optionValue {
    letter-spacing: 0.1px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .productCard {
    box-sizing: border-box;
    padding: 3px 0 20px;
    &__info {
      padding-right: 3%;
      box-sizing: border-box;
      font-size: 14px;
      .button {
        font-size: 12px;
        height: 30px;
      }
    }
    &__optionsItem {
      font-size: 12px;
    }
    &__optionHead {
      margin-right: 3px;
      letter-spacing: 0;
    }
    &__options {
      margin: 7px 0 10px;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .productCard {
    &__info {
      max-width: 50%;
    }
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .productCard {
    &__info {
      max-width: 60%;
      font-size: 15px;
    }
    &__optionsItem {
      font-size: 13px;
    }
  }
}

@media screen and (min-width: 540px) and (max-width: 767px) {
  .productCard {
    box-sizing: border-box;
    padding: 15px 0 20px;
    &__info {
      font-size: 14px;
    }
    .productCard__options {
      margin: 10px 0 15px;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .productCard {
    &__info {
      box-sizing: border-box;
      padding: 20px 20px 20px 0;
      .button {
        height: 30px;
        font-size: 13px;
      }
    }
    &__optionsItem {
      font-size: 13px;
      margin-bottom: 4px;
    }
    &__options {
      margin: 15px 0 10px;
    }
  }
}