.productCard {
  &__count {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 24%;
    .button {
      width: 100px;
      height: 30px;
    }
  }
  &__countPrice {
    display: flex;
    width: 100%;
    align-items: center;;
    margin-bottom: 4px;
  }
  &__quantity {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
  }
  &__quantity {
    &Item {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 30px;
      height: 30px;
      border: 1px solid #f0f0f0;
      font-weight: bold;
      transition: border 0.3s;
      box-sizing: border-box;
    }
    &--remove {
      &:hover {
        border: 1px solid #ff1c1c;
      }
    }
    &--add {
      &:hover {
        border: 1px solid darkgreen;
      }
    }
  }
  &__price {
    flex-basis: 26.9%;
    margin-right: 5%;
    text-align: end;
    font-size: 16px;
    color: #0ec4b6;
    &:nth-of-type(2) {
      margin-right: 0;
      margin-left: 5%;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .productCard {
    position: relative;
    justify-content: center;
    &__count {
      position: absolute;
      right: 0;
      .button {
        margin-top: 7px;
        font-size: 12px;
        height: 30px;
        width: 75px;
      }
    }
    &__quantity {
      flex-direction: column;
      flex-grow: 0;
    }
    &__countPrice {
      justify-content: center;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .productCard {
    &__count {
      width: 50%;
    }
    &__price {
      font-size: 13px;
      margin-right: 3px;
      &:nth-of-type(2) {
        margin-left: 3px;
      }
    }
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .productCard {
    &__count {
      width: 40%;
    }
  }
  &__price {
    margin-right: 10px;
    &:nth-of-type(2) {
      margin-left: 10px;
    }
  }
}

@media screen and (min-width: 540px) and (max-width: 767px) {
  .productCard {
    &__count {
      position: relative;
      flex-basis: 35%;
      min-width: 35%;
      .button {

      }
    }
  }
}

@media screen and (min-width: 420px) {
  .productCard {
    &__price {
      font-size: 15px;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .productCard {
    &__count {
      flex-basis: 30%;
      min-width: 30%;
      .button {
       font-size: 13px;
      }
    }
    &__price {
      font-size: 15px;
      margin-right: 2.5%;
      &:nth-of-type(2) {
        margin-left: 2.5%;
      }
    }
    &__quantity {
      justify-content: space-around;
      &Item {
        width: 27px;
        height: 27px;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1169px) {
  .productCard {
    &__count {

    }
  }
}