.cart {
  &__orderNote {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    padding: 15px 0;
    border-bottom: 1px solid #f0f0f0;
    label {
      color: #555555;
      font-size: 15px;
      margin-bottom: 5px;
    }
    textarea[name="note"] {
      height: 100px;
      max-height: 100px;
      min-height: 100px;
      border: 1px solid #f0f0f0;
      resize: vertical;
      box-sizing: border-box;
      padding: 10px;
    }
    .notice--default {
      margin: 15px 0;
    }
  }
  &__actions {
    display: flex;
    width: 100%;
    justify-content: space-between;
    box-sizing: border-box;
    padding-top: 15px;
    border-top: 1px solid #f0f0f0;
    & .button {
      width: 185px;
      font-size: 13px;
    }
    .button--error {
      background-color: #ff1c1c;
      color:#ffffff;
      border: 1px solid #ff1c1c;
      width: 202px;
      font-size: 14px;
      letter-spacing: 0.5px;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .cart {
    &__orderNote {
      label {
        font-size: 13px;
      }
    }
    textarea[name="note"] {
      height: 80px;
      max-height: 80px;
      min-height: 80px;
    }
    &__actions {
      & .button {
        width: 30%;
        font-size: 13px;
        text-align: center;
      }
      .button--error {
        line-height: 15px;
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 420px) {
  .cart {
    &__actions {
      & .button {
        width: 45%;
        font-size: 13px;
        text-align: center;
      }
    }
  }
}