.cart {
  &__count {
    display: flex;
    flex-direction: column;
    line-height: 17px;
    padding: 20px 0;
    box-sizing: border-box;
    border-bottom: 1px solid #f0f0f0;
  }
  &__countRow {
    display: flex;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
    font-size: 19px;
    color: #555555;
  }
  .priceValue {
    color: #0ec4b6;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .cart {
    &__count {
      line-height: 22px;
      padding: 12px 0;
    }
    &__countRow {
      display: flex;
      justify-content: space-between;
      font-family: 'Open Sans', sans-serif;
      font-size: 17px;
      color: #555555;
    }
  }
}
