.cart {
  &__head {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    border-bottom: 2px solid #f0f0f0;
    span {
      font-size: 16px;
      font-weight: bold;
      padding: 20px 0 15px;
    }
  }
  &__headName {
    flex-grow: 1;
  }
  &__headPrice {
    flex-basis: 6.5%;
    text-align: end;
    margin-right: 1.3%;
  }
  &__headQuantity {
    flex-basis: 8.5%;
    text-align: center;
    margin-right: 1.3%;
  }
  &__headTotal {
    text-align: end;
    flex-basis: 6.5%;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .cart {
    &__head {
      span {
        font-size: 12px;
        font-weight: bold;
        padding: 20px 0 5px;
      }
    }
    &__headName {
      flex-basis: 50%;
      flex-grow: 0;
    }
    &__headPrice {
      margin-right: 0;
      flex-basis: 15%;
    }
    &__headTotal {
      flex-grow: 1;
      text-align: start;
    }
    &__headQuantity {
      margin: 0 3px;
      flex-basis: 20%;
      text-align: center;
    }
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .cart {
    &__head {
      span {
        font-size: 14px;
        font-weight: bold;
        padding: 20px 0 7px;
      }
    }
    &__headName {
      flex-grow: 1;
    }
    &__headPrice {
      margin-right: 0;
      flex-basis: 10%;
    }
    &__headTotal {
      flex-grow: 0;
      text-align: start;
      flex-basis: 10%;
    }
    &__headQuantity {
      margin: 0 3px;
      flex-basis: 20%;
      text-align: center;
    }
  }
}

@media screen and (min-width: 540px) and (max-width: 767px) {
  .cart {
    &__headPrice {
      margin-right: 0;
      flex-basis: 12%;
    }
    &__headTotal {
      flex-grow: 0;
      text-align: start;
      flex-basis: 12%;
    }
    &__headQuantity {
      margin: 0 3px;
      flex-basis: 15%;
      text-align: center;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .cart {
    &__head {
      span {
        font-size: 15px;
        font-weight: bold;
        padding: 20px 0 10px;
      }
    }
    &__headPrice {
      margin-right: 3.3%;
    }
    &__headTotal {
      flex-basis: 9%;
    }
    &__headQuantity {
      flex-basis: 9%;
      margin-right: 0.6%;
    }
  }
}