.productCard {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  width: 100%;
  border-bottom: 1px solid #f0f0f0;
  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 18.5%;
    min-width: 18.5%;
    img {
      width: auto;
      max-width: 208px;
      height: auto;
    }
  }
  &__optionHead {
    font-weight: bold;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .productCard {
    flex-direction: column;
    &__image {
      max-width: 30%;
      img {
       // width: 100%;
      }
    }
  }
}

@media screen and (max-width: 1169px) {
  .productCard {
    &__image {
      img {
         width: 100%;
      }
    }
  }
}

@media screen and (min-width: 540px) and (max-width: 767px) {
  .productCard {
    flex-direction: row;
    justify-content: space-between;
    &__image {
      min-width: 20%;
      flex-basis: 20%;
    }
  }
}
