mixin textInput(type, name, placeholderValue, value)
    label.customInput(for= name)
        input.customInput__input(type= type name= name placeholder= placeholderValue value= value)
        span.customInput__placeholder= placeholderValue
