mixin customSelect(params)
    label.customSelect(for= params.name tab)
        if params.placeholder
            span.customSelect__placeholder= params.placeholder
        if params.selectValue
            span.customSelect__selectValue= params.selectValue
        select(name= params.name)
            if params.value1
              option(value= params.value1 selected)
            if params.value2
                option(value= params.value2)
            if params.value3
                option(value= params.value3)
            if params.value4
                option(value= params.value4)
            if params.value4
                option(value= params.value5)
        div(class=`customSelect__optionItem customSelect__currentOption optionItem${params.option1}`)(data-value= params.value1 role="listbox")
        ul.customSelect__options
            if params.value1
                li(class=`customSelect__optionItem optionItem${params.option1}`)(data-value= params.value1 role="listitem")= params.value1
            if params.value2
                li(class=`customSelect__optionItem optionItem${params.option2}`)(data-value= params.value2 role="listitem")= params.value2
            if params.value3
                li(class=`customSelect__optionItem optionItem${params.option3}`)(data-value= params.value3 role="listitem")= params.value3
            if params.value4
                li(class=`customSelect__optionItem optionItem${params.option4}`)(data-value= params.value4 role="listitem")= params.value4
            if params.value5
                li(class=`customSelect__optionItem optionItem${params.option5}`)(data-value= params.value5 role="listitem")= params.value5
