mixin checkboxInput(checkboxText, id)
    label.customCheckbox.customCheckbox--default(for= id)
        input(type="checkbox" name="infoCheckbox" id= id)
        div.customCheckbox__input
        span.customCheckbox__label= checkboxText
