mixin customRadioButton(params)
    div.radioButton__list
        if params.radio1Value
            label(for= params.radio1Id)
                div.radioButton__name
                    input(type="radio" name= params.nameList value= params.radio1Value id= params.radio1Id checked)
                    div.radioButton__switch
                    div.radioButton__info
                        h3= params.radio1Name
                span.radioButton__value= params.radio1Price
        if params.radio2Value
            label(for= params.radio2Id)
                div.radioButton__name
                    input(type="radio" name= params.nameList value= params.radio2Value id= params.radio2Id)
                    div.radioButton__switch
                    div.radioButton__info
                        h3= params.radio2Name
                        span 6 to 10 business days
                span.radioButton__value= params.radio2Price
        if params.radio3Value
            label(for= params.radio3Id)
                div.radioButton__name
                    input(type="radio" name= params.nameList value= params.radio3Value id= params.radio3Id)
                    div.radioButton__switch
                    div.radioButton__info
                        h3= params.radio3Name
                        span 3 to 5 business days
                span.radioButton__value= params.radio3Price
        if params.radio4Value
            label(for= params.radio4Id)
                div.radioButton__name
                    input(type="radio" name= params.nameList value= params.radio4Value id= params.radio4Id)
                    div.radioButton__switch
                    div.radioButton__info
                        h3= params.radio4Name
                        span 2 to 5 business days
                span.radioButton__value= params.radio4Price

