@import "reset-css/reset";
@import "common/_customInput";
@import "common/_index";
@import "checkout/_checkoutLeftColumn";
@import "checkout/_checkoutNav";
@import "checkout/_productsList";
@import "checkout/_contactInfoForm";
@import "checkout/_customSelect";
@import "checkout/_formActions";

.contactInfo {
  .checkout {
    &__navItem:first-of-type {
      a {
        color: #1990c6;
        &:after {
          color: #333333;
        }
      }
    }
    &__navItem:first-of-type:visited {
      a {
        color: #1990c6;
      }
    }
  }
}