@import "reset-css/reset";
@import "common/_index";
@import "cart/_head";
@import "cart/_cart";
@import "cart/_productCard";
@import "cart/_cardCount";
@import "cart/_cardInfo";
@import "cart/_count";
@import "cart/_checkout";

main {
  width: 1170px;
  margin: 25px auto 30px;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  main {

  }
}

@media screen and (min-width: 768px) and (max-width: 1169px) {
  main {


  }
}

@media screen and (max-width: 1169px) {
  main {
    width: 100%;
    box-sizing: border-box;
    padding: 0 25px;
    margin: 20px auto 30px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1679px) {

}

@media screen and (min-width: 1679px) and (max-width: 1920px) {

}

@media screen and (min-width: 1920px) {

}
