@import "reset-css/reset";
@import "common/_index";
@import "checkout/_checkoutLeftColumn";
@import "common/_customRadioButton";
@import "checkout/_checkoutNav";
@import "checkout/_formActions";
@import "checkout/_creditCardInfo";
@import "checkout/_customerInfo";
@import "common/_customSelect";
@import "common/_customInput";
@import "checkout/_customSelect";
@import "checkout/_productsList";

.paymentMethod {

  .customerInfo {
    margin-bottom: 45px;
  }
  main {
    margin-bottom: 57px;
  }
  .checkout__nav {
    &Item:not(:last-child) {
      a {
        color: #1990c6;
        &:after {
          color: #333333;
        }
      }
    }
    &Item:not(:last-of-type):visited {
      color: #1990c6;
    }
  }
}

.paymentMethodForm {
    &__headInfo {
      font-family: Arial, sans-serif;
      font-size: 14px;
      display: inline-block;
      margin: 10px 0 25px;
    }
  &__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 5px;
    &:nth-of-type(1) {
      margin-bottom: 43px;
    }
    &:nth-of-type(2) {
      margin-bottom: 25px;
    }
  }
  &__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    .customLink {
      font-family: "Open Sans", sans-serif;
    }
    .customButton--submit {
      width: 145px;
    }
  }
  .radioButton {
    &__list {
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      width: 100%;
      font-family: Arial, sans-serif;
      border: 1px solid #d9d9d9;
      border-radius: 5px 5px 0 0;
      label {
        box-sizing: border-box;
        padding: 17px 16px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #d9d9d9;
        &:first-child {
          border-bottom: 0;
        }
        &[for="evenShippingAddress"] {
          order: 1;
        }
        &[for="otherShippingAddress"] {
          order: 2;
        }
      }
      #evenShippingAddress {
        &:checked + .billingInfo {
          background-color: rebeccapurple;
        }
      }
    }

    &__info {
      span {
        display: none;
      }
    }
    &__name {
      display: flex;
      align-items: center;
    }
    &__value {
      display: none;
    }
  }
  .billingInfo {
    background-color: #fafafa;
    box-sizing: border-box;
    padding: 14px 16px;
    border: 1px solid #d9d9d9;
    border-top: none;
    border-radius: 0 0 5px 5px;
    display: none;
    flex-direction: column;
    &--visible {
      display: flex;
    }
    &__row{
      label {
        margin-bottom: 0;
      }
    }
    label {
      margin-bottom: 10px;
    }
    &__row {
      display: flex;
      label {
        &:nth-of-type(1) {
          margin-right: 10px;
        }
      }
      .customSelect__currentOption {
        border-radius: 5px;
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 480px){
  .paymentMethodForm {
    .radioButton__list {
      label {
        padding: 3px 10px;
        height: 40px;
      }
    }
    &__headInfo {
      font-size: 12px;
      margin: 10px 0 20px;
    }
  }
}

@media screen and (min-width: 541px) and (max-width: 767px){
  .paymentMethodForm {
    .radioButton__list {
      label {
        padding: 10px 15px;
        height: 40px;
      }
    }
    .radioButton__name {
      width: 100%;
    }
  }
}