@import "reset-css/reset";
@import "common/_index";
@import "checkout/_checkoutLeftColumn";
@import "checkout/_checkoutNav";
@import "common/_customRadioButton";
@import "checkout/_formActions";
@import "checkout/_customerInfo";
@import "checkout/_productsList";

.shippingMethodForm {
  margin-bottom: 190px;
}

.RadioButtonList {
  display: flex;
  flex-direction: column;
}

.shippingMethod {
  .checkout__nav {
    &Item:nth-of-type(1),
    &Item:nth-of-type(2) {
      a {
        color: #1990c6;
        &:after {
          color: #333333;
        }
      }
    }
    &Item:nth-of-type(1):visited,
    &Item:nth-of-type(2):visited {
      color: #1990c6;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 480px){
  .shippingMethodForm {
    margin-bottom: 75px;
  }
}