form.cart__orderNote(action="./checkoutInfo.html" method="GET")
    label(for='orderNote') Add a note to your order
    textarea#orderNote(name="note")
    p.notice--default.notice--warning  Unifo process all orders in USD Shipping & takes calculated at checkout.
    div.cart__actions
        a.button.button--default continue shopping
        button.button.button--error(type="submit") proceed to checkout

