div.cart__count
   div.cart__countRow
      span.cart__countRowTitle Total weight
      span.cart__countRowValue#totalWeight 26.01kg
   div.cart__countRow
      span.cart__countRowTitle Total price
      span.cart__countRowValue.priceValue#totalPrice $1037.00

