mixin productItem(params)
    article(id= params.id).productsList__item.productCard
        picture.productCard__image
            img(src= params.src alt= params.info)
            if params.checkout
                span.productCard__quantity= 1
        section.productCard__info
            if params.info
                span.productCard__description= params.info
            div.productCard__options
                if params.size
                    div.productCard__optionsItem
                        span.productCard__optionHead Size:
                        span.productCard__optionsValue= params.size
                if params.type
                    div.productCard__optionsItem
                        span.productCard__optionHead Product type:
                        span.productCard__optionsValue= params.type
                if params.vendor
                    div.productCard__optionsItem
                        span.productCard__optionHead Vendor:
                        span.productCard__optionsValue= params.vendor
                if params.weight
                    div.productCard__optionsItem
                        span.productCard__optionHead Weight:
                        span.productCard__optionsValue.productWeight= params.weight
            if params.card
                button.button.button--default.button--error Remove
        if params.card
            section.productCard__count
                div.productCard__countPrice
                    span.productCard__price= params.price
                    div.productCard__quantity
                        button.productCard__quantityItem.productCard__quantity--remove -
                        input.productCard__quantityItem.productCard__quantity--switch(type="number" min="1" value="1" readonly)
                        button.productCard__quantityItem.productCard__quantity--add +
                    span.productCard__price.productCard__price--total= params.price
                button.button.button--default.button--success Update
        if params.checkout
            span.productCard__totalPrice= params.price
