include productCard
div.productsList
    +productItem({
      card: true,
      id: "product1",
      src: "./assets/image/product1.png",
      info: "Dagacci Medical Uniform Womens Medical Scrub Set Top and Pant",
      size: "",
      type: "HoneyWell",
      vendor: "InoMed",
      weight: "1.3kg",
      price: "$325.00"
    })
    +productItem({
      card : true,
      id : "product2",
      src    : "./assets/image/product2.png",
      info   : "Premier Short Sleeve Poplin Blouse Plain Work Shirt",
      size   : "",
      type   : "Wolverine",
      vendor : "InoMed",
      weight : "3.7kg",
      price  : "$90.00"
    })
    +productItem({
      card : true,
      id : "product3",
      src    : "./assets/image/product4.png",
      size   : "",
      type   : "Wolverine",
      vendor : "InoMed",
      weight :"4.5kg",
      price  : "$90.00"
    })
    +productItem({
      card : true,
      id : "product4",
      src    : "./assets/image/product5.png",
      info   : "Premier Pocket Tabard",
      size   : "L",
      type   : "Riggs Workwear",
      vendor : "InoMed",
      weight : "0.8kg",
      price  : "$133.00"
    })
