button {
  background-color: transparent;
  &:hover {
    cursor: pointer;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 35px;
  box-sizing: border-box;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  &--default {
    background-color: #000000;
    border: 2px solid #000000;
    color: #ffffff;
  }

  &--success {
    &:hover {
      background-color: #ffffff;
      border: 2px solid darkgreen;
      color: #000000;
    }
  }

  &--error {
    &:hover {
      background-color: #ffffff;
      border: 2px solid #ff1c1c;
      color: #000000;
    }
  }
}
