input, label {
  box-shadow: none;
  outline: none;
  &:hover {
    cursor: pointer;
  }
}

input[type=text],
input[type=number],
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.placeholderStyle {
  margin: 0;
  padding: 0;
  opacity: 1;
  transition: opacity 0.3s;
  color: #737373;
}

.placeholderFocus {
  opacity: 0;
}

.customInput {
  position: relative;
  height: 45px;
  width: 100%;
  display: block;
  &__input {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 5px 19px 5px 11px;
    width: 100%;
    height: 45px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #d9d9d9;
    color: #000000;
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Open Sans', sans-serif;
    &::-webkit-input-placeholder       {.placeholderStyle;}
    &::-moz-placeholder                {.placeholderStyle;}
    &:-moz-placeholder                 {.placeholderStyle;}
    &:-ms-input-placeholder            {.placeholderStyle;}

    &:focus::-webkit-input-placeholder {.placeholderFocus;}
    &:focus::-moz-placeholder          {.placeholderFocus;}
    &:focus:-moz-placeholder           {.placeholderFocus;}
    &:focus:-ms-input-placeholder      {.placeholderFocus;}
  }
  &__placeholder {
    opacity: 0;
    transition: opacity 0.3s;
    position: absolute;
    top: 5px;
    left: 10px;
    font-family: 'Open Sans', sans-serif;
    color: #737373;
    font-size: 12px;
    letter-spacing: -0.5px;
  }

  input {
    &:focus {
      padding: 5px 19px 0 11px;
      cursor: text;
     & ~ .customInput__placeholder {
        opacity: 1;
      }
    }
  }
  .customInput__placeholder--visible {
    padding: 5px 19px 0 11px;
      & + span {
        opacity: 1;
      }
  }
  &__error {
    display: none;
    opacity: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    margin: 5px 0 0;
    transition: opacity 0.3s;
    color: #ff1c1c;
    &--visible {
      display: block;
      opacity: 1;
    }
  }
}

@media screen and (max-width: 1024px) {
  .customInput {
    height: 45px;
    &__input {
      height: 40px;
    }
    &__placeholder {
      top: 3px;
      left: 10px;
      font-size: 10px;
      letter-spacing: 0;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 540px){
  .customInput {
    height: 40px;
    &__input {
      padding: 3px 10px;
      width: 100%;
      height: 40px;
      font-size: 12px;
    }
    &__placeholder {
      top: 5px;
      left: 10px;
      font-size: 10px;
      letter-spacing: -0.5px;
    }
    input {
      &:focus {
        padding: 10px 10px 3px 10px;
      }
    }
    .customInput__placeholder--visible {
      padding: 3px 10px;
    }
  }
}

@media screen and (min-width: 541px) and (max-width: 767px){
  .customInput {
    &__input {
      padding: 5px 8px;
      font-size: 13px;
    }
  }
}