.radioButton {
  &__list {
    width: 100%;
    font-family: Arial, sans-serif;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    label {
        box-sizing: border-box;
        padding: 17px 16px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #d9d9d9;
      &:last-child {
        border-bottom: 0;
      }
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    max-width: calc(100% - 17px);
    span {
      color: #737373;
      font-size: 12px;
      margin-top: 8px;
    }
  }
  &__switch {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    width: 17px;
    height: 17px;
    border-radius: 17px;
    border: 2px solid #f0f0f0;
    margin-right: 12px;
    &::before {
      content: "";
      display: none;
      width: 5px;
      height: 5px;
      border-radius: 5px;
      background-color: #ffffff;
    }
  }
  &__name {
    display: flex;
    input[type="radio"] {
      display: none;
      &:checked + .radioButton__switch {
        background-color: #1990c6;
        border: 0;
        &::before {
          display: flex;
        }
      }
    }
  }
  &__value {
    color: #333333;
    font-size: 14px;
  }
}

@media screen and (min-width: 320px) and (max-width: 540px){
  .radioButton {
    &__info {
      h3 {
        font-size: 12px;
        margin-right: 10px;
      }
    }
    &__name {
      display: flex;
    }
    &__value {
      font-size: 12px;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 767px){
  .radioButton {
    &__list {
      label {
        align-items: center;
        padding: 15px 10px;
      }
    }
    &__switch {
      margin-right: 10px;
    }
    &__name {
      display: flex;
      align-items: center;
    }
    &__value {
      margin-left: 10px;
    }
  }
}
