.customCheckbox {
  display: flex;
  align-items: center;
  input[type="checkbox"] {
    display: none;
  }
  &__input {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid;
    position: relative;
    &::before {
      content: "\2714";
      position: absolute;
      font-size: 12px;
      color: transparent;
      transition: color 0.3s;
    }
  }
  input[type="checkbox"] {
    &:checked ~ .customCheckbox__input {
        border-color: #0ec4b6;
        &::before {
          color: #0ec4b6;
        }
      }
  }
  &__label {
    font-size: 14px;
    font-family: Arial, sans-serif;
  }
}

.customCheckbox {
  &--default {
    .customCheckbox__input {
      border-color: #d9d9d9;
      margin-right: 10px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .customCheckbox {
    &__label {
      font-size: 13px;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 480px){
  .customCheckbox {
    &__label {
      font-size: 11px;
    }
  }
  .customCheckbox {
    &--default {
      .customCheckbox__input {
        margin-right: 5px;
      }
    }
  }
}

@media screen and (min-width: 481px) and (max-width: 540px) {
  .customCheckbox {
    &__label {
      font-size: 12px;
    }
  }
}