h1 {
  align-self: center;
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1.75px;
}

h2 {
  font-family: Arial, sans-serif;
  color: #333333;
  font-size: 18px;
}

h3 {
  font-family: Arial, sans-serif;
  color: #545454;
  font-size: 14px;
  letter-spacing: 0.25px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  h1 {
    letter-spacing: 1.25px;
  }
  h3 {
    font-size: 13px;
  }
}

@media screen and (min-width: 320px) and (max-width: 420px) {
  h1 {
    font-size: 18px;
  }
}