@import "_fonts";
@import "_notice";
@import "_buttons";
@import "_headers";
@import "_customInput";
@import "_customCheckbox";
@import "_customSelect";

* {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

li, a, button {
  &:hover {
    cursor: pointer;
  }
}

ul {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

a {
  text-decoration: none;
}

.checkout {
  position: relative;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  padding: 0;
}

.contactInfo,
.shippingMethod,
.paymentMethod {
  width: 635px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
  padding-right: 8.5%;
}

@media screen and (max-width: 1280px) {
  .contactInfo,
  .shippingMethod,
  .paymentMethod {
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .contactInfo,
  .shippingMethod,
  .paymentMethod {
    padding-right: 6%;
  }
}

@media screen and (min-width: 481px) and (max-width: 540px) {
  .contactInfo,
  .shippingMethod,
  .paymentMethod {
    padding-right: 4%;
  }
}