.notice {
  &--default {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid;
    padding-left: 15px;
    font-size: 15px;
  }

  &--success {

  }

  &--warning {
    border-color: #edd870;
    background-color: #fff5c3;
    color: #85741f;
  }

  &--error {

  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .notice {
    &--default {
      height: 45px;
      padding-left: 15px;
      font-size: 12px;
      line-height: 15px;
    }
  }
}