mixin navItem(params)
    li.checkout__navItem
        a(href= params.href tabindex= params.tabindex)= params.name

nav.checkout__nav
    ul
        +navItem({
          href: './index.html',
          name: 'Cart'
        })
        +navItem({
          href : './checkoutInfo.html',
          name : 'Customer information'
        })
        +navItem({
          href : './shippingMethod.html',
          name : 'Shipping method'
        })
        +navItem({
          href : './paymentMethod.html',
          name : 'Payment method'
        })
