include formElements/customInput
include formElements/customCheckbox
include formElements/customSelect
include formElements/submitButton
include formElements/customLink

article.contactInfo
    header
        h1 Unifo
        include checkoutNav
    main
        form(action="./shippingMethod.html" method="GET").contactInfoForm
            fieldset.contactInfoForm__wrapper
                legend
                    h2 Contact information
                    span.contactInfoForm__login Already have an account?
                        a(href="#").contactInfoForm__loginLink Log in
                div.contactInfoForm__phoneOrMailInput
                    +textInput("text", "EmailOrMobile", "Email or mobile phone number", "+380123456789")
                    +customSelect({
                      name: "countryCode",
                      value1: "+380 ",
                      value2: "+1 ",
                      value3: "+7 ",
                      option1: "UA",
                      option2: "US",
                      option3: "RU"
                    })
                    span.customInput__error 777777777
                +checkboxInput("Keep me up to date on news and exclusive offers", "contactInfo")
            fieldset.contactInfoForm__wrapper
                legend
                h2 Shipping address
                div.contactInfoForm__row
                    +textInput("text", "firstName", "First name (optional)")
                    +textInput("text", "lastName", "Last name")
                +textInput("text", "address", "Address")
                +textInput("text", "apartment", "Apartment, suite, etc. (optional)")
                +textInput("text", "city", "City")
                div.contactInfoForm__row#countrySelect
                    +customSelect({
                      name    : "country",
                      value1  : "Ukraine",
                      value2  : "USA",
                      value3  : "Russia",
                      option1 : "Ukraine",
                      option2 : "USA",
                      option3 : "Russia",
                      placeholder : "Country",
                      selectValue: "Ukraine"
                    })
                    +textInput("number", "postCode", "Postal code")
                div.contactInfoForm__row
                    +checkboxInput("Save this information for next time", "ShippingAddress")
            div.contactInfoForm__actions
                +customLink({
                  href : "index.html",
                  text : "Return to cart"
                })
                +submitButton({
                  action: "./shippingMethod.html",
                  text: "Continue to shipping method"
                })
    footer
        span All rights reserved Unifo