include formElements/customInput

div.creditCardInfo__head Credit card
div.creditCardInfo__wraper
    +textInput("number", "cardNumber", "Card number")
    div.creditCardInfo__row
        +textInput("text", "cardHolder", "Cardholder name")
        +textInput("number", "cardDate", "MM/YY")
        +textInput("number", "cardCVV", "CVV")

