include formElements/customLink

mixin customerInfo(params)
    div.customerInfo
        if params.contactID
            div(id= params.contactID).customerInfo__row
                h3.customerInfo__name Contact
                span.customerInfo__value +380 12 345 6789
                +customLink({
                  href : "./checkoutInfo.html",
                  text : "Change"
                })
        if params.shipInfoID
            div(id= params.shipInfoID).customerInfo__row
                h3.customerInfo__name Ship to
                span.customerInfo__value Ukraine
                +customLink({
                  href : "./checkoutInfo.html",
                  text : "Change"
                })
        if params.methodID
            div(id= params.methodID).customerInfo__row
                h3.customerInfo__name Method
                span.customerInfo__value Standart
                +customLink({
                  href : "./shippingMethod.html",
                  text : "Change"
                })
