include formElements/customLink
include formElements/submitButton
include customerInfo
include formElements/customRadioButton
include formElements/customInput
include formElements/customSelect


article.paymentMethod
    header
        h1 Unifo
        include checkoutNav
    main
        +customerInfo({
          contactID  : 'contactInfo',
          shipInfoID : 'shipToInfo',
          methodID : 'methodInfo'
        })
        form(action="#" method="GET").paymentMethodForm
            h2 Payment method
            span.paymentMethodForm__headInfo All transactions are secure and encrypted.
            fieldset.paymentMethodForm__wrapper
                include creditCardInfo
            h2 Billing address
            fieldset.paymentMethodForm__wrapper
            +customRadioButton({
              radio2Value: 'evenShippingAddress',
              radio2Name : 'Same as shipping address',
              radio2Id: 'evenShippingAddress',
              radio1Value: 'otherShippingAddress',
              radio1Id: 'otherShippingAddress',
              radio1Name : 'Use a different dilling address',
              nameList: 'billingAddress'
            })
            div.billingInfo.billingInfo--visible
                div.billingInfo__row
                    +textInput('text', 'firstName', 'First name (optional)')
                    +textInput('text', 'lastName', 'Last name')
                +textInput("text", "address", "Address")
                +textInput("text", "apartment", "Apartment, suite, etc. (optional)")
                +textInput("text", "city", "City")
                div.billingInfo__row#billingInfo__customSelect
                    +customSelect({
                      name        : "country",
                      value1      : "Ukraine",
                      value2      : "USA",
                      value3      : "Russia",
                      option1     : "Ukraine",
                      option2     : "USA",
                      option3     : "Russia",
                      placeholder : "Country",
                      selectValue : "Ukraine"
                    })
                    +textInput("number", "postCode", "Postal code")
            div.paymentMethodForm__actions
                +customLink({
                  href : "./shippingMethod.html",
                  text : "Return to shipping method"
                })
                +submitButton({
                  text : "Complete order"
                })
    footer
        span All rights reserved Unifo
