include ../cart/productCard

section.productsList
    +productItem({
         checkout : true,
         id : "product1",
         src    : "./assets/image/product1.png",
         info   : "Dagacci Medical Uniform Womens Medical Scrub Set Top and Pant",
         size   : "",
         price  : "$325.00"
    })
    +productItem({
         checkout : true,
         id : "product2",
         src    : "./assets/image/product2.png",
         info   : "Premier Short Sleeve Poplin Blouse Plain Work Shirt",
         size   : "",
         price  : "$90.00"
    })
    +productItem({
         checkout : true,
         id : "product3",
         src    : "./assets/image/product4.png",
         info   : "Wells Lamont 5130XL Safety Cuff G100 Thinsulate Work Glove with Palomino Suede Cowhide",
         size   : "",
         price  : "$90.00"
    })
    +productItem({
         checkout : true,
         id : "product4",
         src    : "./assets/image/product5.png",
         info   : "Premier Pocket Tabard",
         size   : "L",
         price  : "$133.00"
    })
div.productsList__count
    div.productsList__countRow
        span.productsList__countRowTitle Subtotal
        span.productsList__countRowValue#checkoutSubtotalPrice
    div.productsList__countRow
        span.productsList__countRowTitle Shipping
        span.productsList__countRowValue -
div.productsList__countRow.productsList__totalCount
    span.productsList__countRowTitle Total
    span.productsList__totalPrice#checkoutTotalPrice

