include formElements/customRadioButton
include formElements/customLink
include formElements/submitButton
include customerInfo

article.shippingMethod
    header
        h1 Unifo
        include checkoutNav
    main
        +customerInfo({
          contactID: 'contactInfo',
          shipInfoID: 'shipToInfo'
        })
        form(action="./paymentMethod.html" method="GET").shippingMethodForm
            fieldset.contactInfoForm__wrapper
            fieldset.contactInfoForm__wrapper
                legend
                h2 Shipping method
                +customRadioButton({
                  nameList: "shippingMethod",

                  radio1Value: "Standart",
                  radio1Id: "standartMethod",
                  radio1Name: "Standart",
                  radio1Price: "Free",

                  radio2Value: "Mail",
                  radio2Id: "mailMethod",
                  radio2Name: "USPS Priority Mail International",
                  radio2Price: "$139.91",

                  radio3Value: "mailExpress",
                  radio3Id: "mailExpressMethod",
                  radio3Name: "USPS Priority Mail Express International",
                  radio3Price: "$164.24",

                  radio4Value: "DHLExpress",
                  radio4Id: "DHLExpressMethod",
                  radio4Name: "DHL Express WorldWide",
                  radio4Price: "$301.07"
                })
            div.shippingMethodForm__actions
                +customLink({
                  href: "./checkoutInfo.html",
                  text: "Return to customer information"
                })
                +submitButton({
                  text: "Continue to payment method"
                })

    footer
        span All rights reserved Unifo

