doctype
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name="Checkout" content="Checkout")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title='Checkout'
        link(href="styles/checkout.css" rel="stylesheet")
    body
        div.checkout
            div.checkout__leftColumn
                include modules/checkout/contactInfo
            div.checkout__rightColumn
                include modules/checkout/productsList
    script(src="js/index.js" type="text/javascript")
