doctype
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name="cart" content="productCart")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title='Cart'
        link(href="styles/index.css" rel="stylesheet")
    body
        main
            h1 Your shopping cart
            section.cart
                include modules/cart/head
                include modules/cart/productsList
                include modules/cart/count
                include modules/cart/checkout
    script(src="js/index.js")

