doctype
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name="Payment method" content="Payment method")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title='PaymentMethod'
        link(href="styles/paymentMethod.css" rel="stylesheet")
    body
        div.checkout
            div.checkout__leftColumn
                include modules/checkout/paymentMethod
            div.checkout__rightColumn
                include modules/checkout/productsList

    script(src="js/index.js" type="text/javascript")

