doctype
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name="Shipping method" content="Shipping method")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title='ShippingMethod'
        link(href="styles/shippingMethod.css" rel="stylesheet")
    body
        div.checkout
            div.checkout__leftColumn
                include modules/checkout/shippingMethod
            div.checkout__rightColumn
                include modules/checkout/productsList
    script(src="js/index.js" type="text/javascript")